/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
margin-top: 15px;
width: $btn-width;
color: $btn-color;
border: none;
padding: $btn-pad;
text-transform: uppercase;
border-radius: $btn-br;
}

.default{
background-color: $default;
&:hover {
background-color: $default-light;
    } 
}


.success {
background-color: $success;
&:hover{
background-color: $success-light;
    }
}


.error{
background-color: $error;
&:hover{
background-color: $error-light;
    }
}

.warning {
background-color: $warning;
&:hover{
background-color: $warning-light;
    }
}

.info {
background-color: $info;
&:hover{
background-color: $info-light;
    }
}


